---
layout: default
---

<div class="container" style="padding-top:72px;">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>Who is {{ page.name }}?</h2>
      <h4>{{ page.position }}, {{ page.ns }}</h4>
      <p> {{ content }} </p>
    </div>
  </div>
</div>
<br>
<div class="row justify-content-center">
  <div class="col-10 text-center">
    <a class="btn btn-dark" href="{{ site.baseurl }}/network" role="button">Back to network</a>
  </div>
</div>

{% include scripts.html %}