---
layout: default
permalink: /
---

<link href="{{ site.baseurl }}/assets/vendor/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet">

<div id="top"></div>

<!-- Banner -->
<section id="banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h1 class="display-3">SIMS</h1>
        <h3 class="">Surge Information Management Support</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h2>What is SIMS?</h2>
        <p>The Surge Information Management Support (SIMS) project is a network of trained specialists who develop, coordinate and implement information management systems for global Red Cross and Red Crescent disaster response operations.</p>
        <p> SIMS specialists, who include staff and volunteers from national societies and the IFRC, help operations leverage the power of mapping, data management and visualization tools to support decision making and enhance reporting.</p>
        <p>When a disaster occurs, SIMS is activated through the IFRC Disaster Crisis Management Surge Desk to provide either remote or field-based support to operations, according to disaster scale, complexity and impact of the event. In addition to direct operational support, SIMS also serves as a network for information management coordination and capacity building, helping improve information management standards, tools, and expertise across response operations.</p>
      </div>
    </div>
  </div>
</section>

<div class="section-spacer"></div>

{% include footer.html %}

{% include scripts.html %}

<script src="{{ site.baseurl }}/assets/scripts/d3.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/blueimp-gallery.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/gallery.js"></script>
