---
layout: default
permalink: /network/
---

<section id="network">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h2>Who is SIMS?</h2>
        <p> SIMS specialists include staff and volunteers from national societies and the IFRC.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        {% for person in site.network %}
          <div class="person-box">
            {% if person.image %}
            <a href="{{ site.baseurl }}/{{ person.permalink }}">
              <img width="100px" class="border rounded-circle" src="{{ site.baseurl }}/assets/img/network/{{ person.image }}">
            </a>
            {% endif %}
          </div>
        {% endfor %}
          <div class="person-box">
            <img width="100px" class="border rounded-circle" src="{{ site.baseurl }}/assets/img/network/null.png">
          </div>
      </div>
    </div>
  </div>
</section>

{% include scripts.html %}