---
layout: default
permalink: /resources/
---
<!-- Internal Resources -->
<section id="internal-resources">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h2 class="text-center">Resources</h2>
        <!-- <p>Paragraph here</p> -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 resource-col">
            <div class="card h-100 resource-card external-resource">
              <div class="card-logo text-center internal-card-images">
                <img class="internal-card-images" src="{{ site.baseurl }}/assets/img/resources/onepager.png" />
              </div>
              <div class="resource-card-text text-left">
                <h5>
                  <strong>SIMS one pager</strong> <small>
                    gives a concise overview of SIMS activites, products and services.
                    <br /><a href="{{ site.baseurl }}/assets/docs/SIMS_One_Pager.pdf" download><i class="fa fa-lg fa-file-pdf-o"></i> EN</a>
                  </small>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 resource-col">
            <div class="card h-100 resource-card external-resource">
              <div class="card-logo text-center  internal-card-images">
                <img class="internal-card-images" src="{{ site.baseurl }}/assets/img/resources/activation.png" />
              </div>
              <div class="resource-card-text text-left">
                <h5>
                  <strong>Activation flow</strong> <small>
                    describing the steps of SIMS support: activation, response and transition.
                    <br /><a href="{{ site.baseurl }}/assets/docs/Activation_Flow_2016_March_v2.pdf" download><i class="fa-hover fa fa-lg fa-file-pdf-o"></i> EN</a>
                  </small>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 resource-col">
            <div class="card h-100 resource-card external-resource">
              <div class="card-logo text-center internal-card-images">
                <img class="internal-card-images" src="{{ site.baseurl }}/assets/img/resources/tips.png" />
              </div>
              <div class="resource-card-text text-left">
                <h5>
                  <strong>Tips and recommendations</strong> <small>
                    for better information management.
                    <br /><a href="{{ site.baseurl }}/assets/docs/IM_Tips.pdf" download><i class="fa fa-lg fa-file-pdf-o"></i> EN</a> or <a href="http://simonbjohnson.github.io/im-tips/" target="_blank"><i class="fa fa-lg fa-external-link"></i></a>
                  </small>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 resource-col">
            <div class="card h-100 resource-card external-resource">
              <div class="card-logo text-center internal-card-images">
                <img class="internal-card-images" src="{{ site.baseurl }}/assets/img/resources/im.png" />
              </div>
              <div class="resource-card-text text-left">
                <h5>
                  <strong>Disaster information cycle</strong> <small>
                    explained in an infographic.
                    <br /><a href="{{ site.baseurl }}/assets/docs/IM_Chart.pdf" download><i class="fa fa-lg fa-file-pdf-o"></i> EN</a>
                  </small>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 resource-col">
            <div class="card h-100 resource-card external-resource">
              <div class="card-logo text-center internal-card-images">
                <img class="internal-card-images" src="{{ site.baseurl }}/assets/img/resources/services.png" />
              </div>
              <div class="resource-card-text text-left">
                <h5>
                  <strong>Menu of services</strong> <small>
                    detailing different types of SIMS products and services.
                    <br /><a href="{{ site.baseurl }}/assets/docs/Menu_of_Services_20151222.pdf" download><i class="fa fa-lg fa-file-pdf-o"></i> EN</a>
                  </small>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 resource-col">
            <div class="card h-100 resource-card external-resource">
              <div class="card-logo text-center internal-card-images">
                <img class="internal-card-images" src="{{ site.baseurl }}/assets/img/resources/learning.png" />
              </div>
              <div class="resource-card-text text-left">
                <h5>
                  <strong>Monitoring and learning process</strong> <small>
                    documentating how SIMS reviews support activities and implements changes based on lessons learned.
                    <br /><a href="{{ site.baseurl }}/assets/docs/Monitoring_and_Learning_Process.pdf" download><i class="fa fa-lg fa-file-pdf-o"></i> EN</a>
                  </small>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 resource-col">
            <div class="card h-100 resource-card external-resource">
              <div class="card-logo text-center internal-card-images">
                <img class="internal-card-images" src="{{ site.baseurl }}/assets/img/resources/cie.png" />
              </div>
              <div class="resource-card-text text-left">
                <h5>
                  <strong>Cash in Emergencies Toolkit</strong> <small>
                    by the International Red Cross and Red Crescent Movement for cash transfer based programming (CTP) guidance and tools.
                    <a href="https://cash-hub.org/guidance-and-tools/cash-in-emergencies-toolkit/" target="_blank"><i class="fa fa-lg fa-external-link"></i></a>
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- External Resources -->
<section id="external-resources">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="text-center">Wider Community</h2>
                <p class="lead text-center">SIMS makes a real effort to stay connected into the wider information management community both within and beyond the humanitarian sector. These networks are essential for building skills, accessing data and sharing experiences. You can find below a collection of the external groups that we engage with on a regular basis. Some of them are mainly used for simply downloading and using data, whereas others are actors with which we actively work and collaborate.</p>

                <div class="row">
                    <!-- COL 1-->
                    <div class="col-12 col-sm-6 col-md-4 resource-col">
                        <div class="card h-100 resource-card external-resource">
                            <div class="card-logo text-center">
                                <img class="external-card-images" src="{{ site.baseurl }}/assets/img/logos/logo-osm.png" />
                            </div>
                            <div class="resource-card-text text-left">
                                <h5><strong>OpenStreetMap (OSM)</strong> <small>is an open-source equivalent of Google Maps which allows anyone to edit and extract data. SIMS uses and contributes to this data in the majority of responses. &nbsp;<a href="http://www.openstreetmap.org/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 resource-col">
                        <div class="card h-100 resource-card external-resource">
                            <div class="card-logo text-center">
                                <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-hot.png" />
                            </div>
                            <div class="resource-card-text text-left">
                                <h5><strong>Humanitarian OpenStreetMap Team (HOT)</strong> <small>is a charitable organisation that works to enhance OpenStreetMap for locations of humanitarian interest. &nbsp;<a href="https://hotosm.org/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 resource-col">
                        <div class="card h-100 resource-card external-resource">
                            <div class="card-logo text-center">
                                <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-missingmaps.png" />
                            </div>
                            <div class="resource-card-text text-left">
                                <h5><strong>Missing Maps</strong> <small>is a collaboration between HOT and several humanitarian agencies including the American, British and Netherlands Red Cross which aims to map the most vulnerable populations around the world in preparation of future emergencies. &nbsp;<a href="http://www.missingmaps.org/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 resource-col">
                        <div class="card h-100 resource-card external-resource">
                            <div class="card-logo text-center">
                                <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-hresp.png" />
                            </div>
                            <div class="resource-card-text text-left">
                                <h5><strong>HumanitarianResponse</strong> <small>is a central website for information management tools and services managed by UNOCHA. We have attended the IMWG and it is a key reference point for our work. &nbsp;<a href="https://www.humanitarianresponse.info/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 resource-col">
                        <div class="card h-100 resource-card external-resource">
                            <div class="card-logo text-center">
                                <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-hdx.png" />
                            </div>
                            <div class="resource-card-text text-left">
                                <h5><strong>Humanitarian Data Exchange (HDX)</strong> <small>is an open platform for sharing data between humanitarian actors and is a primary source of external secondary data. &nbsp;<a href="https://data.hdx.rwlabs.org/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 resource-col">
                        <div class="card h-100 resource-card external-resource">
                            <div class="card-logo dhn text-center">
                                <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-dhn.png" />
                            </div>
                            <div class="resource-card-text text-left">
                                <h5><strong>The Digital Humanitarian Network (DHN)</strong> <small>is a consortium of volunteer and tech communities that can be engaged with by traditional humanitarian agencies to solve specified problems. SIMS coordinates with the DHN and has worked with its member groups. &nbsp;<a href="http://digitalhumanitarians.com/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 resource-col">
                        <div class="card h-100 resource-card external-resource">
                            <div class="card-logo text-center">
                                <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-nethope.png" />
                            </div>
                            <div class="resource-card-text text-left">
                                <h5><strong>The NetHope Crisis Informatics Program</strong> <small>provides information management and data visualisation to improve coordination in a humanitarian emergencies and is in close contact with SIMS. &nbsp;<a href="http://informatics.nethope.org/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                            </div>
                        </div>
                    </div>

                        <div class="col-12 col-sm-6 col-md-4 resource-col">
                            <div class="card h-100 resource-card external-resource">
                                <div class="card-logo hid text-center">
                                    <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-hid.png" />
                                </div>
                                <div class="resource-card-text text-left">
                                    <h5><strong>Humanitarian ID</strong> <small>is an online app for simple and up-to-date contact lists that is both used and endorsed within SIMS. It hinges on the principle of staff checking in and out for each disaster. &nbsp;<a href="https://humanitarian.id/#/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                                </div>
                            </div>
                        </div>
                            <div class="col-12 col-sm-6 col-md-4 resource-col">
                                <div class="card h-100 resource-card external-resource">
                                    <div class="card-logo text-center">
                                        <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-rw.png" />
                                    </div>
                                    <div class="resource-card-text text-left">
                                        <h5><strong>ReliefWeb</strong> <small>is a web service for all humanitarian news and updates and is used heavily in our compiling of secondary data. Our maps and products have also featured on the site in the past. &nbsp;<a href="http://reliefweb.int/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                                    </div>
                                </div>
                            </div>

                    <!-- COL 3-->

                        <div class="col-12 col-sm-6 col-md-4 resource-col">
                            <div class="card h-100 resource-card external-resource">
                                <div class="card-logo text-center ">
                                    <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-sheltercluster.png" />
                                </div>
                                <div class="resource-card-text text-left">
                                    <h5><strong>Shelter Cluster</strong> <small>is the standing coordination mechanism for shelter in response and is co-chaired by IFRC and UNHCR. SIMS works in close contact with the cluster sharing data and expertise. &nbsp;<a href="http://www.sheltercluster.org/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                                </div>
                            </div>
                        </div>
                            <div class="col-12 col-sm-6 col-md-4 resource-col">
                                <div class="card h-100 resource-card external-resource">
                                    <div class="card-logo text-center">
                                        <img class="external-card-images" src="{{ site.baseurl }}/assets/img/logos/logo-acaps.png" />
                                    </div>
                                    <div class="resource-card-text text-left">
                                        <h5><strong>ACAPS</strong> <small>is a non-profit set up to support the humanitarian community with needs assessments. SIMS also works in close contact with their teams exchanging both information and resources. &nbsp;<a href="http://www.acaps.org/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                                    </div>
                                </div>
                            </div>
                                <div class="col-12 col-sm-6 col-md-4 resource-col">
                                    <div class="card h-100 resource-card external-resource">
                                        <div class="card-logo text-center">
                                            <img class="external-card-images card-logo-fit-size" src="{{ site.baseurl }}/assets/img/logos/logo-wb.png" />
                                        </div>
                                        <div class="resource-card-text text-left">
                                            <h5><strong>The World Bank</strong> <small>has a wealth of data openly available on its online data portal. We regularly use this source in the development of our maps and other products. &nbsp;<a href="http://data.worldbank.org/" target="_blank"><i class="fa fa-external-link"></i></a></small></h5>
                                        </div>
                                    </div>
                                </div>


                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

{% include footer.html %}

{% include scripts.html %}
