<!-- Footer/Feedback -->
<footer id="feedback" class="">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h2>Feedback</h2>
        <p>We are always looking to improve this site, content, and features. Suggestions are welcome and shall inform the periodic update of the site and tools. For technical issues with the website please send an <a href="mailto:daniel.joseph@redcross.org">email</a>.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <p class="text-muted">CC-BY</p>
      </div>
    </div>
  </div>
</footer>